.app.dark {
    --bg-color: #0a2483;
    --inverted-bg-color: #d9dae3;

    --primary-color: #219a53;
    --secondary-color: #0b7217;
    --inverted-primary-color: #101270;
    --inverted-secondary-color: #166485;
}
